<div class="container">
  <h2>Panel Group</h2>
  <p>The panel-group class clears the bottom-margin. Try to remove the class and see what happens.</p>
  <div *ngFor="let parking of parkings, i">
  <form #editForm="ngForm" (ngSubmit)="onSubmitEdit($event)">
  <div class="panel-group form-group">
    <div class="panel panel-default">
      <div class="panel-heading"> {{parking.name}}</div>
      <div class="panel-body">
        <table class="table">
          <tbody>
            <tr>
             
              <th>Address</th>
              <td>
                


                <input type="text"
                         class="form-control"
                         name="address"
                         #address="ngModel"
                         [value]="parking.address"
                         [(ngModel)]="parking.address" required>
              
              
              </td>
             </tr>
             <!--
            <tr>
              <th>Longitude</th>
              <td><input type="number" [value]="parking.location[0]"></td>
            </tr>
            <tr>
              <th>Latitude</th>
              <td><input type="number" [value]="parking.location[0]"></td>
            </tr>
            <tr>
              <th>Spots</th>
              <td><input type="number" [value]="parking.totalParkingSpots"></td>
            </tr>
            <tr>
              <th>Schedule</th>
              <td><input type="text" [value]="parking.schedule"></td>
            </tr>
              <input type="hidden" [value]="parking.id"> -->



              <!-- <div class="form-group">
                  <label for="name">Parking Name</label>
                  <input type="text"
                         class="form-control"
                         id="name"
                         name="name"
                         placeholder="Enter parking name"
                         #name="ngModel"
                         [(ngModel)]="parking.name" required>
                  <span class="text-danger" *ngIf="name.errors && name.touched">Name not valid</span>
                </div> -->


          </tbody>
        </table>



        <button class="btn btn-success">Save</button>
      </div>
    </div>
  </div>
  
  </form>
</div>
</div>
