button {
  width: 75px;
}

.card {
  color: #7a7a7a;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.negative {
  margin-top: -39px;
  margin-left: 87px;
}
