<div class="container">
    <!-- row align-items-center justify-content-center -->
  <h1 class="row align-items-center justify-content-left">Parkings List</h1>

  <!-- <div class="card-columns"> -->

  <div class="row align-items-center justify-content-left" *ngFor="let parking of parkings">
    <div class="card col-6" >
        <form #editForm="ngForm" (ngSubmit)="onSubmitEdit(editForm.value)">
        <div>
          <div class="card-header text-left"> 
            <h4>{{parking.name}}</h4>
          </div>
        </div>
            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                  <label>Address</label>
                <div class="input-group">
               
                <input
                  class="form-control"
                  type="text" 
                  name="address" 
                  #address="ngModel" 
                  [value]="parking.address" 
                  [(ngModel)]="parking.address"
                required>
                
                <div (click)="toggleAddress()"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAG6SURBVEhL7dZbK6VRHMfxPYSIQUnIaTJyK6/CjRfg+Aq8gZm3MSlKkZmaKePCKYeSuHUpOeYwxA1Nc6HMhcP3u3ueWvd7PUr51afHelb9/9byb2+597z1fER38nyVVOIHnvCcPL+jApnF4tuw4TXmkqfrGWQSm27CJjuohanDDR5R5YuYsek6bPoPTQgzC/d68qtIKcMqLJw6QheMJ49+4lIsw2a76MNCsra5J/faXUf7G9s0bbKHepgPWITv/ybPLUSZ6hI4sRY9QAPC9MI9bSBK02Kkw5JeZxhP7rW7v4ZoTX/BosdoRhhP7rW7v4JyFBybOiAWPUULwnjyfbi/BKe94BRhChY9RxvCePJDuD8PB6/gOKWTsOgffEKYVpzAfQcuWtNxWPQSHQjTDq/dfQfOaS84Nv0Gi/pB34kwntxrd/8nnIEoGYBF9R9f4S9jPsNrd8+vvGhNjUNi4d+4T37+Aj+Dr5L1NKI29b+GB9zBv5vfKjb3nR/4NnXgnPaoGYLFz9AIm3ty32kC6bVHTXrNusBtsB5DJk3Ta04bybXfRP3IpKkZRNhsGNXIPKMYQU1+9Z63n1zuBXOBf9PxGYJ1AAAAAElFTkSuQmCC"></div>
                
              </div>
              </li>

               <!-- Inicio Añadido buscador -->

                <li class="list-group-item">
                  <input
                    [readonly]="!isAddressDisabled"
                    id="address"
                    placeholder="Enter new parking address"
                    autocorrect="off"
                    autocapitalize="off"
                    spellcheck="off"
                    type="text"
                    class="form-control"
                    #search [formControl]="searchControl">
                </li>
                
              <!-- Fin Añadido buscador -->

              <li class="list-group-item">
                <div class="input-group">
                <label>Spots</label>
                <div class="col-3">
                <input 
                  class="form-control" 
                  type="text" 
                  name="totalParkingSpots" 
                  #totalParkingSpots="ngModel" 
                  [value]="parking.totalParkingSpots"
                  [(ngModel)]="parking.totalParkingSpots" 
                required>
              </div>
            </div>
              </li>
          
              <li class="list-group-item">
                  <div class="input-group">
                  <label>Schedule</label>
                  <div class="col-3">    
                <input 
                  type="text" 
                  class="form-control" 
                  name="schedule" 
                  #schedule="ngModel" 
                  [value]="parking.schedule" 
                  [(ngModel)]="parking.schedule"
                required>
              </div>
              </div>
            </li>
       
              <input name="id" 
                type="hidden" 
                #id="ngModel" 
                [value]="parking.id" 
                [(ngModel)]="parking.id">

              <input 
                 class="form-control" 
                 type="hidden" 
                 name="longitude" 
                 #parking.longitude="ngModel" 
                 [value]="parking.location[0]" 
                [(ngModel)]="parking.location[0]"
              required> 

              <input 
                type="hidden" 
                class="form-control" 
                name="latitude" 
                #parking.latitude="ngModel" 
                [value]="parking.location[1]" 
                [(ngModel)]="parking.location[1]"
              required>
            </ul>

              <button class="btn btn-success btn-sm">Save</button>  
        </form>

        <form #deleteForm="ngForm" (ngSubmit)="onSubmitDelete(deleteForm.value)">
          <input 
          name="id" 
          type="hidden" 
          #id="ngModel" 
          [value]="parking.id" 
          [(ngModel)]="parking.id">
          <button class="btn btn-danger btn-sm">Delete</button>
        </form>

  <!-- </div> -->
    </div>
  </div>
</div>

