<div class="login-form">
<h1 class="text-center">Sign Up</h1>
<br>
<form #signupForm="ngForm" (ngSubmit)="onSubmitSignup()">
  <div class="form-group" [class.has-error]="name.errors && name.touched">
    <input type="text"
           class="form-control"
           id="name"
           name="name"
           placeholder="Enter name or company"
           #name="ngModel"
           [(ngModel)]="user.name" required>
    <span class="text-danger" *ngIf="name.touched && name.errors">Name not valid</span>
  </div>

  <div class="form-group" [class.has-error]="email.errors && email.touched">
    <input type="email"
           class="form-control"
           id="email"
           name="email"
           placeholder="Enter email"
           #email="ngModel"
           [(ngModel)]="user.email" required>
    <span class="text-danger" *ngIf="email.touched && email.errors">Email not valid</span>
  </div>

  <div class="form-group" [class.has-error]="password.errors && password.touched">
    <input type="password"
           class="form-control"
           id="password"
           name="password"
           placeholder="Password"
           #password="ngModel"
           [(ngModel)]="user.password" required>
  </div>
  <span class="text-danger" *ngIf="password.touched && password.errors">Password not valid</span>

  <div class="form-group text-left">
    <label for="role">Role</label>
    <select class="form-control"
            id="role"
            name="role"
            #role="ngModel"
            [(ngModel)]="user.role" required>
      <option value="user">Normal User</option>
      <option value="company">Parking Company</option>
    </select>
  </div>
  <div class="form-group text-left">
    <label for="city">City</label>
    <select class="form-control"
            id="city"
            name="city"
            #city="ngModel"
            [(ngModel)]="user.city" required>
      <option value="madrid">Madrid</option>
      <option value="barcelona">Barcelona</option>
      <option value="valencia">Valencia</option>
    </select>
  </div>

  <button class="btn btn-success">Submit</button>
</form>
</div>