<div>
  <agm-map (mapClick)="closeInfoWindow()"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom">

    <agm-circle (circleClick)="closeInfoWindow()"
                [latitude]="lat"
                [longitude]="lng"
                [radius]="radius"
                [fillColor]="fillColor">
    </agm-circle>


    <agm-marker [latitude]="lat"
                [longitude]="lng"
                [iconUrl]="'./assets/img/you-are-here-icon.png'">
    </agm-marker>

    <agm-marker (markerClick)="pushInfoWindow(infowindow)"
                *ngFor="let parking of parkings; let i = index"
                [latitude]="parking.location[1]"
                [longitude]="parking.location[0]"
                [iconUrl]="parkingIcon"
    >
      <agm-direction *ngIf="dir"
                     [origin]="dir.origin"
                     [destination]="dir.destination"
                     [travelMode]="travelMode"
                     [avoidHighways]="avoidHighways"
      >
      </agm-direction>
      <agm-info-window
        #infowindow
      >
        <div class="display-4">
        <p class="info-title">{{parking.name}}</p>
        <p class="info-address"> {{parking.address }} </p>
        <button class="btn btn-primary" (click)="getDirection(i)">GO TO</button>
        </div>
      </agm-info-window>
    </agm-marker>

  </agm-map>
</div>
