<div>
    <div class="input-group">
      <button class="btn-light" disabled>
        <i class="fa fa-search"></i>
      </button>
        <input 
          placeholder="search for location" 
          autocorrect="off" 
          autocapitalize="off" 
          spellcheck="off" 
          type="text" 
          class="form-control" 
          #search [formControl]="searchControl"
        >
      </div>
  <agm-map (mapClick)="closeInfoWindow()"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom">

    <agm-circle (circleClick)="closeInfoWindow()"
                [latitude]="lat"
                [longitude]="lng"
                [radius]="radius"
                [fillColor]="fillColor">
    </agm-circle>


    <agm-marker [latitude]="lat"
                [longitude]="lng"
                [iconUrl]="'./assets/img/pin.png'">
    </agm-marker>

    <agm-marker (markerClick)="pushInfoWindow(infowindow)"
                *ngFor="let parking of parkings; let i = index"
                [latitude]="parking.location[1]"
                [longitude]="parking.location[0]"
                [iconUrl]="icon[i]"
                [label]="labelOptions[i]"

    >
      <agm-direction *ngIf="dir"
                     [origin]="dir.origin"
                     [destination]="dir.destination"
                     [travelMode]="travelMode"
                     [avoidHighways]="avoidHighways"
      >
      </agm-direction>
      <agm-info-window
        #infowindow
      >
        <div class="display-4">
          <p class="info-title">{{parking.name}}</p>
          <table class="table info-address">
            <tr>
              <td><i class="fas fa-building"></i></td>
              <td><span class="mt-3 ml-3">{{parking.address }} </span></td>
            </tr>
            <tr>
              <td><i class="fas fa-car"></i></td>
              <td><span class="mt-3 ml-3">{{ parking.availableParkingSpots }} available spots</span></td>
            </tr>
            <tr>
              <td><i class="fas fa-euro-sign"></i></td>
              <td><span class="mt-3 ml-3">{{ parking.price}} per hour&nbsp;&nbsp;</span></td>
            </tr>
          </table>
          <button class="btn btn-primary" (click)="getDirection(i)">GO TO</button>
        </div>
      </agm-info-window>
    </agm-marker>

  </agm-map>

</div>
