<div class="container">

  <h1>Create New Parking</h1>


  <agm-map
    [longitude]="location[0]"
    [latitude]="location[1]"
    [scrollwheel]="false"
    [zoom]="zoom">
    <agm-marker
      [latitude]="latitude"
      [longitude]="longitude">
    </agm-marker>
  </agm-map>

  <form #parkingForm="ngForm" (ngSubmit)="onSubmitParking()">

    <div class="form-group">
      <label for="address">Parking Address</label>
      <input
        id="address"
        placeholder="Enter complete parking address"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        type="text"
        class="form-control"
        #search [formControl]="searchControl"
      >
    </div>


    <div class="form-group">
      <label for="name">Parking Name</label>
      <input type="text"
             class="form-control"
             id="name"
             name="name"
             placeholder="Enter parking name"
             #name="ngModel"
             [(ngModel)]="parking.name" required>
      <span class="text-danger" *ngIf="name.errors && name.touched">Name not valid</span>
    </div>

    <div class="form-group" [class.has-error]="totalParkingSpots.touched && totalParkingSpots.errors">
      <label for="totalParkingSpots">Total Parking Spots</label>
      <input type="number"
             class="form-control"
             id="totalParkingSpots"
             name="totalParkingSpots"
             placeholder="Enter Total Parking Spots"
             #totalParkingSpots="ngModel"
             [(ngModel)]="parking.totalParkingSpots" required>
      <span class="text-danger" *ngIf="totalParkingSpots.touched && totalParkingSpots.errors">Name not valid</span>
    </div>

    <div class="form-group">
      <label for="schedule">Schedule</label>
      <input type="text"
             class="form-control"
             id="schedule"
             name="schedule"
             placeholder="Enter Schedule"
             #schedule="ngModel"
             [(ngModel)]="parking.schedule" required>
      <span class="text-danger" *ngIf="schedule.touched && schedule.errors">Email not valid</span>
    </div>

    <button class="btn" [disabled]="!parkingForm.valid">Create Parking</button>
  </form>
</div>
